<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="envoyServiceHost" type="ccmEnvoyService.Configuration.EnvoyServiceConfiguration, Wdt.Envoy.Service" />
        <section name="envoyFormService" type="Wdt.Envoy.WorkerServices.FormServer.Configuration.FormServiceConfiguration, Wdt.Envoy.WorkerServices" />
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
        <section name="databaseSettings" type="XmlConfiguration.Support.DatabaseSettingsSectionHandler, Wdt.Enterprise.Common.XmlConfiguration" />
        <section name="ccmEnterpriseServices" type="Wdt.Es.Core.Config.ConfigurationHandler, Wdt.Es.Core" />
		<sectionGroup name="cache">
	       <section name="redis" type="System.Configuration.NameValueSectionHandler" />
	    </sectionGroup>
    </configSections>

	<cache>
		<redis>
	        <add key="host" value="localhost:6379" />
	    </redis>
	</cache>
	
    <!-- UPDATE userlibraries, InitUserId, InitPassword, EnterpriseUrl -->
    <appSettings>
        <add key="EnableRecordDump" value="true" />
		<!-- Path to the Envoy user libraries folder -->
        <add key="userlibraries" value="C:\WorkDynamics Technologies\ccmEnvoy\UserLibraries" />
        <add key="SessionCulture" value="en-CA" />
        <add key="WebApiCacheName" value="WebApiCache" />
        <add key="WorkerSleepSeconds" value="10" />
        <add key="WorkerShutdownWaitSeconds" value="20" />
        <add key="InitUserId" value="" />
        <add key="InitPassword" value="" />
        <add key="TracingEnabled" value="false" />
		<add key="datePattern" value="dd-MMM-yyyy" />
		<add key="agendaUrl" value="http://localhost:11098"/>
        <add key="Mercury53ConfigSection" value="mercury53Plugin" />
		<!-- ccmEnterprise URL: if using separate Envoy services for eDOCS and a web form, ports must be specified for both here (SERVERNAME:port) 
		     If no port is specified, the default is 51510 (default port for the ccmEnvoy service) -->
		<add key="EnterpriseUrl" value="http://cms-ncr-001/Enterprise"/>
    </appSettings>

	<!--EDIT THIS SECTION.  Set the database connection information.  Copy this section to other config files when instructed. --> 
	<!-- DbProvider: Use "SqlServer-2.0" for SQL Server or "OracleODP-2.0" for Oracle -->
	<!-- Connection: For SQL Server, enter "Data Source=DBSERVER;Initial Catalog=DATABASENAME;MultipleActiveResultSets=true;" 
					 For Oracle, enter "Data Source=SERVICENAME" -->
	<!-- TrustedConnection: Use "true" for passthrough connection to the database; false for other connection types -->   
    <databaseSettings>
		<DbProvider value="SqlServer-2.0" />
		<UserId value="CCM_CMS" />
		<Password value="CCM_CMS" />
		<Connection value="Data Source=DMSQL-NCR-001;Initial Catalog=CRCC_CMS;MultipleActiveResultSets=true;" />
		<TrustedConnection value="false" />
	</databaseSettings>

	<!-- EDIT THIS SECTION -->
	<ccmEnterpriseServices recordIdField="INTAKE_NUMBER">
		<!-- Supported values are: WindowsAD, WindowsSSO, LdapServices, and CcmEnterprise 
		     For the web site configuration, a userId value with no password must be specified when using WindowsAD or WindowsSSO -->
		<authenticationService serviceEndpoint="authentication" authenticationMode="WindowsSSO" userId="svc_envoy" password="" />
		<!-- Uncomment the next line for the eDOCS interface -->
		<repositoryService repositoryType="EdocsDM" operationsEndpoint="Operations" streamingEndpoint="DataTransfer" />

		<edocsMapping>
		  <edocsMap profileField="DOCNAME" enterpriseTable="CCM_ATTACHMENT" enterpriseField="DESCRIPTION" />
		  <edocsMap profileField="DOCNUM" enterpriseTable="CCM_ATTACHMENT" enterpriseField="RDIMS_FILE_NUMBER" />
		  <edocsMap profileField="DOCNUM" enterpriseTable="CCM_ATTACHMENT" enterpriseField="GCDOCSID" />
		</edocsMapping>

	</ccmEnterpriseServices>
  
    <!-- Update if applicable -->
    <connectionStrings>
        <add name="ccmMercury" connectionString="Data source=;User Id=;Password=;" providerName="System.Data.OracleClient" />
    </connectionStrings>
	
    <cachingConfiguration defaultCacheManager="Cache Manager">
        <cacheManagers>
            <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="EnterpriseServiceCache" />
        </cacheManagers>
        <backingStores>
            <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Null Storage" />
        </backingStores>
    </cachingConfiguration>

    <!-- UPDATE the SMTP settings. -->
    <system.net>

        <mailSettings>
            <smtp deliveryMethod="Network" from="CMS_NOTIFY@crcc-ccetp.gc.ca">
                <network host="ex-ncr-005" port="" userName="" password="" defaultCredentials="false" />
            </smtp>
        </mailSettings>

    </system.net>

    <!-- UPDATE the envoyServiceHost settings. -->
    <envoyServiceHost pauseServices="false" notifyOnShutdown="false" notifyAddressList="emailaddress@yourcompany.com" shutdownWaitSeconds="5">

        <workerServices>
            <worker name="HttpFormService" type="Wdt.Envoy.WorkerServices.HttpFormServer, Wdt.Envoy.WorkerServices" start="true" />
        </workerServices>

        <!-- The serviceLibrary implements the ICCMService interface and used by the workerServices to read/write records to and from ccmMercury or ccmEnterprise. -->
        <!-- <serviceLibrary name="Mercury53" type="Wdt.CCMServices.Mercury5.Mercury5Service, Wdt.CCMServices" /> -->
        <serviceLibrary name="Enterprise" type="Wdt.CCMServices.Enterprise.EnterpriseService, Wdt.CCMServices" />

    </envoyServiceHost>

    <!-- UPDATE EnvoyFormService, routes, viewId, tableExtension, etc. -->
    <envoyFormService sleepSeconds="5" baseAddress="http://cms-ncr-001:51510" enableTracer="false">

		<!-- If the localQueue does not support the syntax shown below, specify the full path to the folder.
		     For example, C:\WorkDynamics Technologies\ccmEnvoy\Records" 
			 The routeIdField is specified in the <input line with "type=hidden" in the web form -->
        <routes routeIdField="wdtEnvoy_RouteId" localQueue="C:\WorkDynamics Technologies\ccmEnvoy\Records">

		    <!-- Officer -->
			<route routeId="officer" xmlTemplate="C:\WorkDynamics Technologies\ccmEnvoy\routes\cpc.officer.xml" viewId="1967710" tableExtension="1_ACT">
				<!-- MASTER DATA MAPPING -->
				<fieldMap httpField="incident_location" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_CITY']" />
				<fieldMap httpField="incident_province" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_PROV']" />
				<fieldMap httpField="incident_date" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='INCIDENT_DATE']" />
				<fieldMap httpField="incident_time" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='INCIDENT_TIME']" />
				<fieldMap httpField="form_case_taken_by" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_TAKER']" />
				<!--<fieldMap httpField="contact_for_messages_questions_filenbr" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='RCMP_FILENUM']" />-->
				<!-- DETAIL DATA MAPPING -->
				<fieldMap httpField="complainant_name_family" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='LNAME']" />
				<fieldMap httpField="complainant_name_given" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='FNAME']" />
				<fieldMap httpField="complainant_date_birth" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_DOB']" />
				<fieldMap httpField="complainant_address_mailing_street_nbr" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='ADDR']" />
				<fieldMap httpField="complainant_address_mailing_city" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CITY']" />
				<fieldMap httpField="complainant_address_mailing_province" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='PROV']" />
				<fieldMap httpField="complainant_address_mailing_postalcode" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='P_CODE']" />
				<fieldMap httpField="complainant_address_mailing_country" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COUNTRY']" />
				<fieldMap httpField="complainant_phone_home" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='TEL1']" />
				<fieldMap httpField="complainant_email" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='EMAIL']" />
				<fieldMap httpField="complainant_language" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='PREF_LANG']" />
				<fieldMap httpField="contact_note" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_NOTES']" />
				<fieldMap httpField="contact_tool" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_METHOD']" />
				 
				<!-- MASTER_DETAIL MAPPING -->
				<fieldMap httpField="contact_for_messages_questions_involved" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_INCIDENT_INVOLVEMENT']" />
				<!-- Moved to CCM_MASTER.RCMP_FILENUM and remapped above -->
				<!-- <fieldMap httpField="contact_for_messages_questions_filenbr" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_RCMP_FILENUM']" /> -->
				<fieldMap httpField="contact_for_messages_questions_form" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_RCMP_FORM']" />
				<fieldMap httpField="contact_for_messages_questions_informal" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_RCMP_RESOLUTION']" />
				<!--<fieldMap httpField="contact_for_messages_questions_advocate" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_ADVOCATE']" />-->
				<!--<fieldMap httpField="contact_for_messages_questions_thirdpartyauthorization" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_THIRD_PARTY']" />-->
				
				<!-- COMMMENT DATA MAPPING -->
				<!-- WITNESS -->
				<fieldMap httpField="witness_entered_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='witness']" />
				<!-- OFFICER -->
				<fieldMap httpField="officer_entered_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='officer']" />
				<!-- ADVOCATE -->
				<fieldMap httpField="contact_for_messages_organization" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='advocate']" />
				<!-- CASE DETAILS-->
				<fieldMap httpField="circumstances" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='circumstances']" />
				<!--<fieldMap httpField="circumstances" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='Additional Information']" />-->
				<!-- GENERAL NOTE-->
				<fieldMap httpField="witness_added_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='general']" />
				
				<!-- ROUTING DATA MAPPING -->
				<!-- empty -->
			</route> 

			<!-- COMPLAINT -->
			<route routeId="complaint" xmlTemplate="C:\WorkDynamics Technologies\ccmEnvoy\routes\cpc.complaint.xml" viewId="1967710" tableExtension="1_ACT">
				<!-- MASTER DATA MAPPING -->
				<fieldMap httpField="incident_location" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_CITY']" />
				<fieldMap httpField="incident_province" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_PROV']" />
				<fieldMap httpField="incident_date" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='INCIDENT_DATE']" />
				<fieldMap httpField="incident_time" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='INCIDENT_TIME']" />
				<fieldMap httpField="contact_for_messages_questions_filenbr" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='RCMP_FILENUM']" />
				<!-- DETAIL DATA MAPPING -->
				<fieldMap httpField="complainant_name_family" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='LNAME']" />
				<fieldMap httpField="complainant_name_given" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='FNAME']" />
				<fieldMap httpField="complainant_date_birth" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_DOB']" />
				<fieldMap httpField="complainant_address_mailing_street_nbr" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='ADDR']" />
				<fieldMap httpField="complainant_address_mailing_city" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CITY']" />
				<fieldMap httpField="complainant_address_mailing_province" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='PROV']" />
				<fieldMap httpField="complainant_address_mailing_postalcode" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='P_CODE']" />
				<fieldMap httpField="complainant_address_mailing_country" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COUNTRY']" />
				<fieldMap httpField="complainant_phone_home" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='TEL1']" />
				<fieldMap httpField="complainant_email" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='EMAIL']" />
				<fieldMap httpField="complainant_language" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='PREF_LANG']" />
				<!-- <fieldMap httpField="contact_note" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_NOTES']" /> -->
				<fieldMap httpField="contact_tool" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CONTACT_METHOD']" />
				 
				<!-- MASTER_DETAIL -->
				<fieldMap httpField="contact_for_messages_questions_involved" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_INCIDENT_INVOLVEMENT']" />
				<fieldMap httpField="contact_for_messages_questions_form" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_RCMP_FORM']" />
				<fieldMap httpField="contact_for_messages_questions_informal" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_RCMP_RESOLUTION']" />
				<!--<fieldMap httpField="contact_for_messages_questions_advocate" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_ADVOCATE']" />-->
				<!--<fieldMap httpField="contact_for_messages_questions_thirdpartyauthorization" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COMPLAINANT_THIRD_PARTY']" />-->
				<!-- COMMMENT DATA MAPPING -->
				<!-- WITNESS <fieldMap httpField="witness_entered_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='witness']" />-->
				<fieldMap httpField="witness_entered_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='witness']" />
				<!-- OFFICER -->
				<fieldMap httpField="officer_entered_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='officer']" />
				<!-- ADVOCATE 
				<fieldMap httpField="contact_for_messages_organization" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='advocate']" />
				-->
				
				<fieldMap httpField="contact_for_messages_organization" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='advocate']" />
				<!-- CASE DETAILS-->
				<fieldMap httpField="circumstances" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='circumstances']" />
				<!--<fieldMap httpField="circumstances" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='Additional Information']" />-->
				<!-- GENERAL NOTE-->
				<fieldMap httpField="witness_added_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA' and @nodeFilter='general']" />
				<!-- ROUTING DATA MAPPING -->
				<!-- empty -->
			</route>

			<!-- REVIEW -->
			<route routeId="review" xmlTemplate="C:\WorkDynamics Technologies\ccmEnvoy\routes\cpc.review.xml" viewId="1967710" tableExtension="1_ACT">
				<!-- MASTER DATA MAPPING -->
				<fieldMap httpField="incident_cpcnbr" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_XREF']" />
				<fieldMap httpField="incident_filenbr" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='RCMP_FILENUM']" />
				<!-- DETAIL DATA MAPPING -->
				<fieldMap httpField="complainant_name_family" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='LNAME']" />
				<fieldMap httpField="complainant_name_given" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='FNAME']" />
				<fieldMap httpField="complainant_address_mailing_street_name" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='ADDR']" />
				<fieldMap httpField="complainant_address_mailing_city" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CITY']" />
				<fieldMap httpField="complainant_address_mailing_province" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='PROV']" />
				<fieldMap httpField="complainant_address_mailing_postalcode" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='P_CODE']" />
				<fieldMap httpField="complainant_address_mailing_country" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='COUNTRY']" />
				<fieldMap httpField="complainant_phone_home" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='TEL1']" />
				<fieldMap httpField="complainant_email" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='EMAIL']" />
				
				<!-- COMMMENT DATA MAPPING -->
				<fieldMap httpField="circumstances" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA']" />
				<!--<fieldMap httpField="witness_added_note" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA']" />-->
				
				<!-- ROUTING DATA MAPPING -->
				<!-- empty -->
			</route>
			
			<!-- CONTACT FORM -->
			<route routeId="contact" xmlTemplate="C:\WorkDynamics Technologies\ccmEnvoy\routes\cpc.contact.xml" viewId="1967710" tableExtension="1_ACT">
				<!-- MASTER DATA MAPPING -->
				<fieldMap httpField="contact_subject" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_DETAILS']" />
				<!--<fieldMap httpField="form_summary" xpathNode="//field[@tableName='CCM_MASTER' and @fieldName='CASE_DETAILS']" />put in Summary field in CMS-->
				<!-- DETAIL DATA MAPPING  -->
				<fieldMap httpField="contact_name_last" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='LNAME']" />
				<fieldMap httpField="contact_name_first" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='FNAME']" />
				<fieldMap httpField="contact_email" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='EMAIL']" />
				<!--<fieldMap httpField="form_summary" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CASE_NOTE']" /> 
				<fieldMap httpField="contact_subject" xpathNode="//field[@tableName='CCM_DETAIL' and @fieldName='CASE_NOTE']" /> -->
				<!-- COMMMENT DATA MAPPING -->
				<fieldMap httpField="contact_comments" xpathNode="//field[@tableName='CCM_COMMENT' and @fieldName='TEXTDATA']" />
				<!-- ROUTING DATA MAPPING -->
				<!-- empty -->				
			</route>
        </routes>

    </envoyFormService>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ClientBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
				
                <behavior name="ImpersonationBehavior">
                    <clientCredentials>
                        <windows allowedImpersonationLevel="Delegation" />
                    </clientCredentials>
                </behavior>
				
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="DataTransfer" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<!--
					<security mode="None">
						<transport clientCredentialType="None" protectionLevel="None" />
						<message clientCredentialType="None" />
					</security>
					-->
					
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
					
                </binding>
                <binding name="Operations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<!--
					<security mode="None">
						<transport clientCredentialType="None" protectionLevel="None" />
						<message clientCredentialType="None" />
					</security>
					-->
					
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
					
                </binding>
            </netTcpBinding>
            <ws2007HttpBinding>
                <binding name="authentication" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="None">
                        <message clientCredentialType="None" negotiateServiceCredential="false" algorithmSuite="Default" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="Scheduler" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>

        <!--EDIT THIS SECTION.-->
        <!--Open the Authentication and Repository config files, and search for the <baseAddresses> section. -->
        <!--Copy the URL information into the address portions below.  Specify ports if they differ from the defaults. -->
        <client>

            <endpoint address="http://cms-ncr-001/authservice/authentication" binding="ws2007HttpBinding" bindingConfiguration="authentication" contract="IAuthentication" name="authentication">
            </endpoint>

            <endpoint address="net.tcp://cms-ncr-001/repservice/streaming" binding="netTcpBinding" bindingConfiguration="DataTransfer" contract="IDataTransfer" name="DataTransfer" behaviorConfiguration="ImpersonationBehavior">
            </endpoint>

            <endpoint address="net.tcp://cms-ncr-001/repservice/operations" binding="netTcpBinding" bindingConfiguration="Operations" contract="IRepositoryServiceOperations" name="Operations" behaviorConfiguration="ImpersonationBehavior">
            </endpoint>

            <!--<endpoint address="http://SERVERNAME:8080/scheduler" binding="ws2007HttpBinding" bindingConfiguration="Scheduler" contract="IEnterpriseScheduler" name="Scheduler" /> -->

        </client>

    </system.serviceModel>

    <!-- UPDATE the path to the log config file if needed. -->
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
				<arg key="configType" value="FILE-WATCH" />
				<arg key="configFile" value="C:\WorkDynamics Technologies\Logs\Config\log4net.envoy.config" />
			</factoryAdapter>
		</logging>
	</common>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>

</configuration>